<ion-view title="registration-step2" id="registration-step2-page" hide-nav-bar="true">
  <ion-content padding="true" style="background: url(img/YLljt9sHQZuoOVeWmWEj_login-screen-bg.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/o2pDWacJRbK5dTh1vP32_login-screen-logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="registration-statup2">
      <label class="item item-radio text-fill" id="radio-guest">
        <input type="radio" name="radio-statup2" value="on">
        <div class="radio-content">
          <div class="item-content disable-pointer-events" >
            <span>Guest</span>
          </div>
          <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
        </div>
      </label>
      <label class="item item-radio text-fill" id="radio-silver">
        <input type="radio" name="radio-statup2">
        <div class="radio-content">
          <div class="item-content disable-pointer-events" >
            <span>Silver</span>
          </div>
          <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
        </div>
      </label>
      <label class="item item-radio text-fill" id="radio-gold">
        <input type="radio" name="radio-statup2">
        <div class="radio-content">
          <div class="item-content disable-pointer-events" >
            <span>Gold</span>
          </div>
          <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
        </div>
      </label>
      <label class="item item-radio text-fill" id="radio-platinum">
        <input type="radio" name="radio-statup2">
        <div class="radio-content">
          <div class="item-content disable-pointer-events">
            <span>Platinum</span>
          </div>
          <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
        </div>
      </label>
      
      <div class="service-container">        
        <div class="service-container-list">
          <ul>
            <li>
              <div class="service-container-head">SERVICES DETAILS</div>
              <div class="service-container-content"><span>Service Name</span>FAM Membership</div>
              <div class="service-container-content odd"><span>Service Type</span>abcd</div>
              <div class="service-container-content"><span>Free Service</span>3</div>
            </li>
            <li>
              <div class="service-container-head">SERVICES DETAILS</div>
              <div class="service-container-content"><span>Service Name</span>Ambulance Services</div>
              <div class="service-container-content odd"><span>Service Type</span>advance cardiac life support ambulance</div>
              <div class="service-container-content"><span>Free Service</span>5</div>
            </li>
            <li>
              <div class="service-container-head">SERVICES DETAILS</div>
              <div class="service-container-content"><span>Service Name</span>Memorial Service</div>
              <div class="service-container-content odd"><span>Service Type</span>One Year Service</div>
              <div class="service-container-content"><span>Free Service</span>1</div>
            </li>
          </ul>          
        </div>
      </div>
    </ion-list>
    <div class="button-set">
      <button id="previous" class="button button-positive previous" ui-sref="registration_step2">Previous</button>
      <button id="next" class="button button-positive next" ui-sref="registration_step3">Next</button>
    </div>
  </ion-content>
</ion-view>