<ion-view title="Education-Details" id="identity-details-page" hide-nav-bar="true">
    <ion-content padding="true" style="background: url(img/YLljt9sHQZuoOVeWmWEj_login-screen-bg.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div>
            <img src="img/o2pDWacJRbK5dTh1vP32_login-screen-logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="identity-details">
            <div class="heading">
                <button id="add-new" class="button button-positive add-new" ng-if=" educationDetails.addButton==0" data-ng-click="educationDetails.add()">Add New</button>
            </div>
            <div class="service-fund-inn" ng-if="details==1">
                <div class="transaction-content">
                    <ul>
                        <li>
                            <div class="service-fund-head">EDUCATION DETAILS</div>
                            <div class="service-fund-content">
                                <div class="tittle-head">QUALIFICATION</div>
                                <div class="tittle-content">LI</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">INSTITUTE</div>
                                <div class="tittle-content">rdy</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">BOARD/ UNIVERSITY</div>
                                <div class="tittle-content">teyy</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">ENTRY YEAR</div>
                                <div class="tittle-content">1986</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">PASSING YEAR</div>
                                <div class="tittle-content">2016</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">DIVISION/ GRADE</div>
                                <div class="tittle-content">fdasfa</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">% OF MARKS</div>
                                <div class="tittle-content">70</div>
                            </div>
                            <div class="service-fund-content">
                                <div class="tittle-head">GRADE POINT</div>
                                <div class="tittle-content">—</div>
                            </div>
                            <div class="service-fund-content odd">
                                <div class="tittle-head">Action</div>
                                <div class="tittle-content">
                                    <a href="#" class="button-link"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="button-link"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="add-new-content" ng-if="educationDetails.clickAdd==1">
                <div class="service-fund-head">EDUCATION DETAILS</div>
                <form id="professionalDetails_education" name="educationDetails.education" class="list login-form" novalidate>
                    <div class="service-fund-content">
                        <div class="form-group" data-ng-class="{ 'has-error': (educationDetails.education.qualification.$error.required) && (!educationDetails.education.qualification.$pristine) && educationDetails.submitted }">
                            <label class="item item-select item-stacked-label select-box" id="registetion-select1">
              <select name="qualification" ng-model="userVO.qualification" 
                   ng-options="option.id as option.optionValue for option in registration.userSex" ng-init="userVO.qualification=''" required/>         
                  <option value=''>QUALIFICATION</option>
              </select>
                <div class="help-block_cont" data-ng-show="educationDetails.education.qualification.$invalid && educationDetails.submitted">
                  <small class="help-block inline-error" data-ng-show="educationDetails.education.qualification.$error.required && !educationDetails.education.qualification.$pristine || educationDetails.submitted">
                   {{educationDetails.famMessages.ERROR.M200048}}
                  </small>
              </div>
            </label>
                        </div>
                        <div class="form-group" data-ng-class="{ 'has-error': (educationDetails.education.institute.$error.required) && (!educationDetails.education.institute.$pristine) && educationDetails.submitted }">
                            <label class="item item-input item-floating-label text-fill" id="registetion-input7">
              <input type="text" placeholder="INSTITUTE" name="institute" data-ng-model="userVO.institute" required/>
            </label>
                            <div class="help-block_cont" data-ng-show="educationDetails.education.institute.$invalid &&  educationDetails.submitted">
                                <small class="help-block inline-error" data-ng-show="educationDetails.education.institute.$error.required && !educationDetails.education.institute.$pristine || educationDetails.submitted">
                 {{educationDetails.famMessages.ERROR.M200049}}
                </small>
                            </div>
                        </div>
                        <div class="form-group" data-ng-class="{ 'has-error': (educationDetails.education.university.$error.required) && ( !educationDetails.education.university.$pristine) && educationDetails.submitted }">
                            <label class="item item-input item-floating-label text-fill" id="registetion-input7">
              <input type="text" placeholder="BOARD / UNIVERSITY" name="university" data-ng-model="userVO.university" required/>
            </label>
                            <div class="help-block_cont" data-ng-show="educationDetails.education.university.$invalid &&  educationDetails.submitted">
                                <small class="help-block inline-error" data-ng-show="educationDetails.education.university.$error.required && !educationDetails.education.university.$pristine || educationDetails.submitted">
                 {{educationDetails.famMessages.ERROR.M200050}}
                </small>
                            </div>
                        </div>
                        <div class="form-group" data-ng-class="{ 'has-error': (educationDetails.education.month.$error.required) && (!educationDetails.education.month.$pristine) && educationDetails.submitted }">
                            <label class="item item-select item-stacked-label select-box" id="registetion-select1">
              <select name="month" ng-model="userVO.month" 
                   ng-options="option.id as option.optionValue for option in educationDetails.entryMonth" ng-init="userVO.month=''" required/>         
                  <option value=''>ENTRY MONTH</option>
              </select>
                <div class="help-block_cont" data-ng-show="educationDetails.education.month.$invalid && educationDetails.submitted">
                  <small class="help-block inline-error" data-ng-show="educationDetails.education.month.$error.required && !educationDetails.education.month.$pristine || educationDetails.submitted">
                   {{educationDetails.famMessages.ERROR.M200051}}
                  </small>
              </div>
            </label>
                        </div>
                        <div class="form-group" data-ng-class="{ 'has-error': (educationDetails.education.eyear.$error.required) && (!educationDetails.education.eyear.$pristine) && educationDetails.submitted }">
                            <label class="item item-select item-stacked-label select-box" id="registetion-select1">
              <select name="eyear" ng-model="userVO.eyear" 
                   ng-options="option.id as option.optionValue for option in educationDetails.entryYear" 
                   ng-change="educationDetails.e_year(userVO.eyear)"  ng-init="userVO.eyear=''" required/>         
                  <option value=''>ENTRY YEAR</option>
              </select>
                <div class="help-block_cont" data-ng-show="educationDetails.education.eyear.$invalid && educationDetails.submitted">
                  <small class="help-block inline-error" data-ng-show="educationDetails.education.eyear.$error.required && !educationDetails.education.eyear.$pristine || educationDetails.submitted">
                   {{educationDetails.famMessages.ERROR.M200052}}
                  </small>
              </div>
            </label>
                        </div>
                        <div class="form-group" data-ng-class="{ 'has-error': (educationDetails.education.pmonth.$error.required) && (!educationDetails.education.pmonth.$pristine) && educationDetails.submitted }">
                            <label class="item item-select item-stacked-label select-box" id="registetion-select1">
              <select name="pmonth" ng-model="userVO.pmonth" 
                   ng-options="option.id as option.optionValue for option in educationDetails.entryMonth" ng-init="userVO.pmonth=''" required/>         
                  <option value=''>Passing MONTH</option>
              </select>
                <div class="help-block_cont" data-ng-show="educationDetails.education.pmonth.$invalid && educationDetails.submitted">
                  <small class="help-block inline-error" data-ng-show="educationDetails.education.pmonth.$error.required && !educationDetails.education.pmonth.$pristine || educationDetails.submitted">
                   {{educationDetails.famMessages.ERROR.M200051}}
                  </small>
              </div>
            </label>
                        </div>
                        <div class="form-group" data-ng-class="{ 'has-error': (educationDetails.education.pyear.$error.required) && (!educationDetails.education.pyear.$pristine) && educationDetails.submitted }">
                            <label class="item item-select item-stacked-label select-box" id="registetion-select1">
              <select name="pyear" ng-model="userVO.pyear" 
                   ng-options="option.id as option.optionValue for option in  educationDetails.passingYear"  ng-init="userVO.pyear=''" required/>         
                  <option value=''>PASSING YEAR</option>
              </select>
                <div class="help-block_cont" data-ng-show="educationDetails.education.pyear.$invalid && educationDetails.submitted">
                  <small class="help-block inline-error" data-ng-show="educationDetails.education.pyear.$error.required && !educationDetails.education.pyear.$pristine || educationDetails.submitted">
                   {{educationDetails.famMessages.ERROR.M200052}}
                  </small>
              </div>
            </label>
                        </div>
                        <div class="form-group">
                            <label class="item item-input item-floating-label text-fill" id="registetion-input7">
              <input type="text" placeholder="DIVISION / GRADE" name="division" data-ng-model="userVO.division">
            </label>

                        </div>
                        <div class="form-group">
                            <label class="item item-input item-floating-label text-fill" id="registetion-input7">
              <input type="text" placeholder="% OF MARKS" name="marks" data-ng-model="userVO.marks">
            </label>

                        </div>
                        <div class="form-group">
                            <label class="item item-input item-floating-label text-fill" id="registetion-input7">
              <input type="text" placeholder="GRADE POINT(10 SCALE)" name="gradepoint" data-ng-model="userVO.gradepoint">
            </label>

                        </div>
                        <div class="form-group">
                            <label class="item item-input item-floating-label text-fill" id="registetion-input7">
              <input type="file" placeholder="ATTACH CERTIFICATE" name="attachcertificate" data-ng-model="userVO.attachcertificate">
            </label>

                        </div>
                        <div class="button-set">
                            <button id="save" class="button button-positive previous" data-ng-click="educationDetails.onsubmit(userVO)">Save</button>
                            <button id="cancel" class="button button-positive next">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </ion-list>

    </ion-content>
</ion-view>