<ion-view title="balance" id="balance" style="background-color:#FFFFFF;">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div class="header-top">
      <div class="logo-outer"><img src="img/logo.jpg"></div>
      <div class="header-icon">
        <ul class="link">
          <li>
            <button class="ion-ios-rupice button-link">&#8377; <span>0</span></button>
          </li>
          <li>
            <button class="ion-ios-person button-link"></button>
          </li>
          <li>
            <button class="ion-earth button-link"></button>
          </li>
        </ul>
      </div>
    </div>
    <div class="button-bar tab-outer">
      <button class="button button-balanced icon ion-cube tab"></button>
      <button class="button button-balanced icon ion-android-person tab"></button>
      <button class="button button-balanced icon ion-android-settings tab"></button>
      <button class="button button-balanced icon ion-android-exit tab"></button>
    </div>
    <ion-list class="outer-balance">
      <div class="balance-heading">
        <span class="balance-heading-text">Available <br />Balance:</span> <span class="balance-heading-price">&#8377;</span>
      </div>
      <h2>rs. NA</h2>
      <ul class="balance-horz">
        <li>
          <div class="balance-horz-head">Locked Fund:</div>
          <div class="balance-horz-con">na</div>
        </li>
        <li>
          <div class="balance-horz-head">Last Amount Received:</div>
          <div class="balance-horz-con">na</div>
        </li>
        <li>
          <div class="balance-horz-head">Last Fund Addition Date:</div>
          <div class="balance-horz-con">na</div>
        </li>
        <li>
          <div class="balance-horz-head">Last Payment:</div>
          <div class="balance-horz-con">na</div>
        </li>
        <li>
          <div class="balance-horz-head">Last Payment Date:</div>
          <div class="balance-horz-con">na</div>
        </li>
      </ul>
      <h2>Locked Fund Details</h2>
      <ul class="balance-vertical">
        <li>
          <div class="balance-horz-head">SR#</div>
          <div class="balance-horz-con">na</div>
        </li>
        <li>
          <div class="balance-horz-head">SERVICE</div>
          <div class="balance-horz-con">na</div>
        </li>
        <li>
          <div class="balance-horz-head">DATE</div>
          <div class="balance-horz-con">na</div>
        </li>
        <li>
          <div class="balance-horz-head">AMOUNT</div>
          <div class="balance-horz-con">na</div>
        </li>
      </ul>
    </ion-list>
  </ion-content>
</ion-view>