<ion-view title="registration-statup" id="registration-statup-page" hide-nav-bar="true">
  <ion-content padding="true" style="background: url(img/YLljt9sHQZuoOVeWmWEj_login-screen-bg.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/o2pDWacJRbK5dTh1vP32_login-screen-logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="registration-statup3">
      <p>1. water /telephone /electricity bill/statement of running bank account/Income Tax Assessment Order </p>
      <p>2. Election Commission ID card, Gas connection Bill, Spouse's</p>
      <div class="heading">
        <h2>1. Online Payment Options</h2>
        <p>AMOUNT:4000</p>
      </div>
      <label class="item item-radio text-fill" id="radio-netbanking ">
        <input type="radio" name="radio-statup3" value="on">
        <div class="radio-content">
          <div class="item-content disable-pointer-events" ng-transclude="">
            <span>Net Banking</span>
          </div>
          <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
        </div>
      </label>
      <label class="item item-radio text-fill" id="radio-debitcard">
        <input type="radio" name="radio-statup3">
        <div class="radio-content">
          <div class="item-content disable-pointer-events" ng-transclude="">
            <span>Debit Card</span>
          </div>
          <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
        </div>
      </label>
      <label class="item item-radio text-fill" id="radio-creditcard">
        <input type="radio" name="radio-statup3">
        <div class="radio-content">
          <div class="item-content disable-pointer-events" ng-transclude="">
            <span>Credit Card</span>
          </div>
          <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
        </div>
      </label>
      <label class="item item-radio text-fill" id="radio-platinum">
        <input type="radio" name="radio-statup2">
        <div class="radio-content">
          <div class="item-content disable-pointer-events" ng-transclude="">
            <span>Platinum</span>
          </div>
          <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
        </div>
      </label>
      <button id="pay-online" class="button button-positive pay-online">Pay Online</button>
      <div class="payment-container">
        <div class="heading">
          <h2>2. "I Have Paid" Request</h2>
        </div>        
      </div>
    </ion-list>
    <div class="button-set">
      <button id="previous" class="button button-positive previous">Previous</button>
      <button id="next" class="button button-positive next">Next</button>
    </div>
  </ion-content>
</ion-view>