<ion-view title="registration-statup" id="registration-statup-page" hide-nav-bar="true">
  <ion-content padding="true" style="background: url(img/YLljt9sHQZuoOVeWmWEj_login-screen-bg.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/o2pDWacJRbK5dTh1vP32_login-screen-logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="registration-statup2">
      <label class="item item-radio text-fill" id="radio-guest">
        <input type="radio" name="radio-statup2" value="on">
        <div class="radio-content">
          <div class="item-content disable-pointer-events" ng-transclude="">
            <span>Guest</span>
          </div>
          <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
        </div>
      </label>
      <label class="item item-radio text-fill" id="radio-silver">
        <input type="radio" name="radio-statup2">
        <div class="radio-content">
          <div class="item-content disable-pointer-events" ng-transclude="">
            <span>Silver</span>
          </div>
          <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
        </div>
      </label>
      <label class="item item-radio text-fill" id="radio-gold">
        <input type="radio" name="radio-statup2">
        <div class="radio-content">
          <div class="item-content disable-pointer-events" ng-transclude="">
            <span>Gold</span>
          </div>
          <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
        </div>
      </label>
      <label class="item item-radio text-fill" id="radio-platinum">
        <input type="radio" name="radio-statup2">
        <div class="radio-content">
          <div class="item-content disable-pointer-events" ng-transclude="">
            <span>Platinum</span>
          </div>
          <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
        </div>
      </label>
      
      <div class="service-container">
        <div class="heading">
          <h2>SERVICES NAME</h2>
        </div>
        <div class="service-container-list">
          <div class="service-container-head">Service Name</div>
          <div class="service-container-content">AMBULS</div>
        </div>
        <div class="service-container-list">
          <div class="service-container-head">Service Type</div>
          <div class="service-container-content">BLSA</div>
        </div>
        <div class="service-container-list">
          <div class="service-container-head">Free Service</div>
          <div class="service-container-content">10</div>
        </div>
      </div>
    </ion-list>
    <div class="button-set">
      <button id="previous" class="button button-positive previous">Previous</button>
      <button id="next" class="button button-positive next">Next</button>
    </div>
  </ion-content>
</ion-view>