<ion-view title="registration-statup" id="registration-statup-page" hide-nav-bar="true">
  <ion-content padding="true" style="background: url(img/YLljt9sHQZuoOVeWmWEj_login-screen-bg.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/o2pDWacJRbK5dTh1vP32_login-screen-logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="registration-statup1">
      <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.sex.$error.required) && (!registration.registrationForm.sex.$pristine) || registration.submitted }">  
        <label class="item item-select item-stacked-label select-box" id="registetion-service-location">
          <div class="lebel-head">SERVICE LOCATION</div>
          <select name="sex" ng-model="userVO.sex" 
               ng-options="option.id as option.optionValue for option in registration.userSex" ng-init="userVO.sex=''">         
              <option value=''>Select</option>
          </select>
            <div class="help-block_cont" data-ng-show="registration.registrationForm.sex.$invalid || registration.submitted">
              <small class="help-block inline-error" data-ng-show="registration.registrationForm.sex.$error.required && !registration.registrationForm.sex.$pristine || registration.submitted">
               {{registration.famMessages.ERROR.M200013}}
              </small>
          </div>
        </label>
      </div>
      <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.sex.$error.required) && (!registration.registrationForm.sex.$pristine) || registration.submitted }">  
        <label class="item item-select item-stacked-label select-box" id="registetion-service-center">
        <div class="lebel-head">SERVICE CENTER</div>
          <select name="sex" ng-model="userVO.sex" 
               ng-options="option.id as option.optionValue for option in registration.userSex" ng-init="userVO.sex=''">         
              <option value=''>Select Cervice Center</option>
          </select>
            <div class="help-block_cont" data-ng-show="registration.registrationForm.sex.$invalid || registration.submitted">
              <small class="help-block inline-error" data-ng-show="registration.registrationForm.sex.$error.required && !registration.registrationForm.sex.$pristine || registration.submitted">
               {{registration.famMessages.ERROR.M200013}}
              </small>
          </div>
        </label>
      </div>
      <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.sex.$error.required) && (!registration.registrationForm.sex.$pristine) || registration.submitted }">  
        <label class="item-stacked-label select-box" id="registetion-service-center">
          <div class="lebel-head">LOCATION ADDRESS</div>
            <textarea placeholder=""></textarea>
            <div class="help-block_cont" data-ng-show="registration.registrationForm.sex.$invalid || registration.submitted">
              <small class="help-block inline-error" data-ng-show="registration.registrationForm.sex.$error.required && !registration.registrationForm.sex.$pristine || registration.submitted">
               {{registration.famMessages.ERROR.M200013}}
              </small>
          </div>
        </label>
      </div>
      <div class="form-group" data-ng-class="{ 'has-error': (registration.registrationForm.sex.$error.required) && (!registration.registrationForm.sex.$pristine) || registration.submitted }">  
        <label class="item-stacked-label select-box" id="registetion-service-center">
          <div class="lebel-head">CENTER ADDRESS</div>
            <textarea placeholder=""></textarea>
            <div class="help-block_cont" data-ng-show="registration.registrationForm.sex.$invalid || registration.submitted">
              <small class="help-block inline-error" data-ng-show="registration.registrationForm.sex.$error.required && !registration.registrationForm.sex.$pristine || registration.submitted">
               {{registration.famMessages.ERROR.M200013}}
              </small>
          </div>
        </label>
      </div>
    </ion-list>
    <div class="button-set">
        <button id="previous" class="button button-positive previous">Previous</button>
        <button id="next" class="button button-positive next">Next</button>
      </div>
  </ion-content>
</ion-view>